/* configurações gerais dentro do <body>*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    /* background fundo do site */
    background-color: #fffffe;

    margin: 0;
    color: #000000;
    /* color muda a cor do texto*/

}

/* menu do topo */
.menu {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #070707;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

/* formatando a tag href */
.links a {
    margin-left: 20px;
    text-decoration: none;
    color: #0b0b0b;
    font-weight: bold;

}

/* titulo principal */
.cabecalho {
    text-align: center;
    padding: 40px;
}

/* Area dos cards */
.container-memes {
    display: grid;
    /* criando tres colunas na secao dos memes */
    grid-template-columns: repeat(auto-fit, mimax(250px, 1fr));
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.rodape{
    background-color: #ffffff;
text-align: center;
padding: 30px;
margin-top: 40px;
border-top: 2px;
}

.redes-sociais{
    display: flex;
justify-content: center;
gap: 25px;
margin-top: 15px;
}

.logo-social (
    width: 40px; /* Largura do ícone */
    height: 40px; /* Altura do ícone */
    object-fit: contain; /* Garante que o desenho do logo apareça inteiro */
    transition: transform 0.3s ease;  
)


.link-social{
    text-decoration:none;
    display: inline-block;
}